.logos {
    width: 100%;
}

.logos .uol {
    max-width: 431px;
    max-height: 162px;
    width: 10%;
    height: 10%;
    margin-top: 30px;
    margin-left: 30px;
}

.logos .admooh {
    max-width: 145px;
    max-height: 162px;
    width: 30%;
    height: 30%;
    margin-top: 30px;
    margin-right: 30px;
}